

th {
    font-family: "Trebuchet MS", Arial, Verdana;
    font-size: 13px;
    padding: 5px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #524831;
    background-color: #929292;
    color: white;
}


